body{
    background-color: rgb(64, 213, 250);
    color: azure;
}
.heading{
    width: 80%;
    font-size: 20px;

}
.objects,#result_object,#result_accuracy{
    color: rgb(253, 14, 14);
    font-size: 18px;
}
#camera{
border: 2px solid rgb(253, 114, 253);
width: 350px;
height: 350px;
}
